absl-py
alabaster
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
awscli                           
babel                         
beautifulsoup4                           
bleach                          
botocore                         
certifi                           
cffi                           
charset-normalizer                           
click                           
colorama                           
comm                          
contourpy                           
coverage                           
curl_cffi                           
cycler                           
debugpy                           
decorator                           
defusedxml                          
docutils                           
executing                          
fastjsonschema                     
flake8                           
flatbuffers                      
fonttools                        
fqdn                        
frozendict                     
gast                           
google-pasta                   
grpcio                         
h11                           
h5py                          
httpcore                      
httpx                         
idna                          
imagesize                     
ipykernel                     
ipython                       
ipython_pygments_lexers 
ipywidgets              
isoduration             
jedi                    
Jinja2                  
jmespath                
joblib                  
json5                   
jsonpointer              
jsonschema               
jsonschema-specifications
jupyter                  
jupyter-console          
jupyter-events           
jupyter-lsp                       
jupyter_client                    
jupyter_core                      
jupyter_server                    
jupyter_server_terminals          
jupyterlab                        
jupyterlab_pygments                       
jupyterlab_server                         
jupyterlab_widgets                        
keras                           
kiwisolver                      
lark                           
libclang                       
Markdown                       
markdown-it-py                 
MarkupSafe                     
matplotlib                     
matplotlib-inline              
mccabe                         
mdurl                          
mistune                        
ml_dtypes                      
multitasking                   
namex                          
nbclient                       
nbconvert                      
nbformat                       
nest-asyncio                   
notebook                       
notebook_shim                  
numpy                          
opt_einsum                     
optree                         
packaging                      
pandas                         
pandocfilters                  
parso                          
peewee                         
pexpect                        
pillow                         
platformdirs                   
prometheus_client              
prompt_toolkit                 
protobuf                       
psutil                         
ptyprocess                     
pure_eval                      
pyasn1                         
pycodestyle                    
pycparser                      
pyflakes                       
Pygments                       
pyparsing                      
python-dateutil                
python-dotenv                  
python-json-logger             
pytz                           
PyYAML                         
pyzmq                          
referencing                    
requests                       
rfc3339-validator              
rfc3986-validator              
rfc3987-syntax                 
rich                           
roman-numerals-py              
rpds-py                        
rsa                           
s3transfer                    
scikit-learn                  
scipy                         
seaborn                       
Send2Trash                    
setuptools                    
six                           
sniffio                       
snowballstemmer               
soupsieve                     
Sphinx                          
sphinxcontrib-applehelp              
sphinxcontrib-devhelp                
sphinxcontrib-htmlhelp               
sphinxcontrib-jsmath                 
sphinxcontrib-qthelp                 
sphinxcontrib-serializinghtml        
# Editable install with no version control (src                           0.1.0)
-e /Users/discovery/models/stock_predictor
stack-data                           
tensorboard                          
tensorboard-data-server              
tensorflow                           
termcolor                           
terminado                           
threadpoolctl                       
tinycss2                        
tornado                         
traitlets                       
typing_extensions               
tzdata                          
uri-template                    
urllib3                         
wcwidth                         
webcolors                       
webencodings                    
websocket-client                
websockets                      
Werkzeug                        
wheel                           
widgetsnbextension              
wrapt                           
yfinance                        
sqlalchemy
psycopg2-binary
newsapi-python
textblob
feedparser
nsepython